<header>
  <div class="container">
    {% if page.header_image %}
      <img class="header-img img-responsive wow fadeIn" src="public/images/{{page.header_image}}" alt />
    {% endif %}
    <h1 class="header-title">
      {% if page.header_icon %}
        <i class="fa {{page.header_icon}} fa-fw"></i>
      {% endif %}

      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}

    </h1>
    {% if page.permalink == "/" %}
      <hr class="hr-code hr-code-light">
      <h4 class="header-subtitle">Junior Ruby &amp; Javascript Developer</h4>

      <div class="row">
        <a href="mailto:hello@michaelharrison.party" class="btn btn-lg">
          <i class="fa fa-fw fa-envelope-o"></i>Contact
        </a>
        <a href="/public/Michael-Harrison-CV-2016.pdf" class="btn btn-lg" target="_blank">
          <i class="fa fa-fw fa-download"></i>CV
        </a>
    {% endif %}
  </div>
</header>
