<header>
  <div class="container">
    {% if page.header_image %}
      <img class="header-img img-responsive wow fadeIn" src="public/images/{{page.header_image}}" alt />
    {% endif %}
    <h1 class="header-title">
      {% if page.header_icon %}
        <i class="fa {{page.header_icon}} fa-fw"></i>
      {% endif %}

      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}

    </h1>
    {% if page.permalink == "/" %}
      <hr class="hr-code hr-code-light">
      <h4 class="header-subtitle">Ruby &amp; Javascript Developer</h4>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <p>Michael is a junior web developer and former QA Analyst.</p>
          <p>He recently graduated from <a href="http://www.makersacademy.com/" target="_blank">Makers Academy</a>.</p>
        </div>
      </div>
      <div class="row">
        <a href="mailto:hello@michaelharrison.party" class="btn btn-lg">
          <i class="fa fa-fw fa-envelope-o"></i>Contact
        </a>
        <a href="/public/Michael-Harrison-CV-2016.pdf" class="btn btn-lg" target="_blank">
          <i class="fa fa-fw fa-download"></i>CV
        </a>
    {% endif %}
  </div>
</header>
